@{
    Dictionary<string, string> ListOfMyProjects = new Dictionary<string, string>
    {
        {"Dot Net Core", @"Sample ASP.NET Core reference application, powered by Microsoft, 
        demonstrating a single-process (monolithic) application architecture 
        and deployment model...."},
        {"DotNet MVC Framework", @"Using MVC, Entity Framework, and ASP.NET Scaffolding, you can create a web 
        application that provides an interface to an existing database. 
        This tutorial series shows you how to automatically generate code 
        that enables users to display, edit, create, and delete data that resides 
        in a database table. 
        The generated code corresponds to the columns in the database table...."},
        {"ArcGIS Mapping", @"The ArcGIS Runtime SDK for .NET provides numerous code samples to help 
        get you started. The sample project contains code that illustrates key areas 
        of ArcGIS Runtime functionality. With a few exceptions, the same set of samples
            has been provided for each platform - Windows Desktop, 
        Windows Store apps, and Windows Phone...."},
        {"Angular - MVC .NET", @"ASP.NET has been around for a long time. When Microsoft introduced ASP.NET MVC, 
        it changed the way many developers approach their codebase. 
        There is an excellent separation of concerns, a TDD friendly framework, 
        and easy integration with JavaScript while maintaining full control 
        over rendered HTML. On the client side, a lot of .NET developers prefer 
        Angular because it comes with TypeScript and it’s a much closer language to C# 
        than plain JavaScript. Angular is an excellent framework 
        for building enterprise-level, feature rich, applications...."},
        {"Python Full Stack", @"Various aspect of building a shopping cart application using Django 2.0 web 
        framework and Python 3.6. I am a software developer at Muva Technologies 
        where our main focus is to offer services around mobile solutions(Apps), 
        web solution and websites, payments integration, 
        web hosting and domains, and last but not least, consultancy and training...."},  
    };
    DateTime CurrentTime = DateTime.Now;
    
    DateTime date1 = new DateTime(2008, 4, 10);
    var myDate = CurrentTime.ToString("F", ViewBag.culture);
    
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio Contact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>

        </div>
        <div>
            @Html.Partial("Navigation");
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class=" row justify-content-start"><div class="col-1"></div><h1>As Current time and date:</h1></div>
        <div class=" row justify-content-start "><div class="col-1"></div><div class="alert-success col-4">@myDate</div></div>
        <div class=" row justify-content-center"><h1>My Current Projects!</h1></div>
        <div class="row" id="projectBox">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="list-group" id="myList" role="tablist">
                    @{
                        foreach(KeyValuePair<string, string> project in ListOfMyProjects)
                        {     
                            var name = (project.Key).Split(" ")[0];                 
                            <a class="list-group-item list-group-item-action" data-toggle="list" 
                                href="#@name" role="tab" aria-controls="">@project.Key</a>
                        }
                    }
                
            </div>
            </div>
            <div class="col-7">
                <div class="tab-content alert alert-primary" id="nav-tabContent">
                     @{
                        foreach(KeyValuePair<string, string> project in ListOfMyProjects)
                        {   
                            var name = (project.Key).Split(" ")[0];
                            <div class="tab-pane fade show" id="@name" role="tabpanel" aria-labelledby="listID">@project.Value</div>
                        }
                    }            
                </div>
            </div>
        </div>
        <div>
            @Html.Partial("FooterScript");
        </div>
        <script>        
            $('#myList a:first-child').tab('show')
            $('#myList a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        </script>
    </body>
</html>